STRAVA_CLIENT_ID = 207587
STRAVA_CLIENT_SECRET =
STRAVA_REDIRECT_URI = mangox:/$()/localhost/strava-auth

WHOOP_CLIENT_ID = 8c9a9d3d-4c73-466e-8494-671b85bb2446
WHOOP_CLIENT_SECRET =
WHOOP_REDIRECT_URI = mangox:/$()/localhost/whoop-auth

REVENUECAT_API_KEY =
USER_DATA_KEY =
MANGOX_COACH_STAFF_TIER =

FACEBOOK_APP_ID = 986008587288900

SUPABASE_URL_HOST = jvhkplgacbeuksiphgyk.supabase.co
SUPABASE_PUBLISHABLE_KEY = sb_publishable_m2mgjTsNA9Gi2wPMwewwgg_oS8-aerC

USER_DATA_KEY = k/HLYyW/m+bCknTBbVvU8zETdyQJ+P8jl+FqDcutR8g=

#include? "Secrets.xcconfig"
