STRAVA_CLIENT_ID = 207587
STRAVA_CLIENT_SECRET = 4fa95bca1c95ebe0d0c5a5fde96305d018bfc99b
STRAVA_REDIRECT_URI = mangox:/$()/localhost/strava-auth

WHOOP_CLIENT_ID = 8c9a9d3d-4c73-466e-8494-671b85bb2446
WHOOP_CLIENT_SECRET = 03902822b9e745d14c8088ceb97bbc0db6360d8497ad99210baa701c01926086
WHOOP_REDIRECT_URI = mangox:/$()/localhost/whoop-auth

REVENUECAT_API_KEY =
USER_DATA_KEY =
MANGOX_COACH_STAFF_TIER =

SUPABASE_URL_HOST = jvhkplgacbeuksiphgyk.supabase.co
SUPABASE_PUBLISHABLE_KEY = sb_publishable_m2mgjTsNA9Gi2wPMwewwgg_oS8-aerC

#include? "Secrets.xcconfig"
